<section class="favorit">

    <div class="container">
        <h2 class="favorit-title">Some of Our Favorites</h2>
        <p class="favorit-text">Looking for something delicious?</p>
        <ul class="favorit-list">
            <li class="favorit-item">
                <picture>
                    <source srcset="./img/gamburger.jpg 1x, ./img/gamburger@2x.jpg 2x" media="(min-width: 1280px)">
                    <source srcset="./img/gamburger-tablet.jpg 1x, ./img/gamburger-tablet@2x.jpg 2x"
                        media="(min-width: 768px)">
                    <source srcset="./img/gamburger-mobile.jpg 1x, ./img/gamburger-mobile@2x.jpg 2x"
                        media="(max-width: 767px)">
                    <img src="./img/gamburger-mobile.jpg" alt="retina image">
                </picture>

            </li>
            <li class="favorit-item">
                <picture>
                    <source srcset="./img/pasta.jpg 1x, ./img/pasta@2x.jpg 2x" media="(min-width: 1280px)">
                    <source srcset="./img/pasta-tablet.jpg 1x, ./img/pasta-tablet@2x.jpg 2x" media="(min-width: 768px)">
                    <source srcset="./img/pasta-mobile.jpg 1x, ./img/pasta-mobile@2x.jpg 2x" media="(max-width: 767px)">

                    <img src="./img/pasta-mobile.jpg" alt="retina image">
                </picture>

            </li>
            <li class="favorit-item">
                <picture>
                    <source srcset="./img/pizza.jpg 1x, ./img/pizza@2x.jpg 2x" media="(min-width: 1280px)">
                    <source srcset="./img/pizza-tablet.jpg 1x, ./img/pizza-tablet@2x.jpg 2x" media="(min-width: 768px)">
                    <source srcset="./img/pizza-mobile.jpg 1x, ./img/pizza-mobile@2x.jpg 2x">
                    <img src="./img/pizza-mobile.jpg" alt="retina image">
                </picture>

            </li>
            <li class="favorit-item mobile-none">
                <picture>
                    <source srcset="./img/chicken.jpg 1x, ./img/chicken@2x.jpg 2x" media="(min-width: 1280px)">
                    <source srcset="./img/chicken-tablet.jpg 1x, ./img/chicken-tablet@2x.jpg 2x"
                        media="(min-width: 768px)">
                    <img src="./img/chicken-tablet.jpg" alt="retina image">
                </picture>

            </li>
            <li class="favorit-item mobile-none">
                <picture>
                    <source srcset="./img/salad.jpg 1x, ./img/salad@2x.jpg 2x" media="(min-width: 1280px)">
                    <source srcset="./img/salad-tablet.jpg 1x, ./img/salad-tablet@2x.jpg 2x" media="(min-width: 768px)">

                    <img src="./img/salad-tablet.jpg" alt="retina image">
                </picture>

            </li>
            <li class="favorit-item mobile-none">
                <picture>
                    <source srcset="./img/borshch.jpg 1x, ./img/borshch@2x.jpg 2x" media="(min-width: 1280px)">
                    <source srcset="./img/borshch-tablet.jpg 1x, ./img/borshch-tablet@2x.jpg 2x">
                    <img src="./img/borshch-tablet.jpg" alt="retina image">
                </picture>

            </li>
        </ul>
    </div>

</section>