<section class="favorit">

    <div class="container">
        <h2 class="favorit-title">Some of Our Favorites</h2>
        <p class="favorit-text">Looking for something delicious?</p>
        <ul class="favorit-list">
            <li class="favorit-item">
                <picture>
                    <source
                        srcset="./img/favorites_desktop/gamburger-min.png 1x, ./img/favorites_desktop/gamburger@2x-min.png 2x"
                        media="(min-width: 1280px)">
                    <source
                        srcset="./img/favorites_tablet/gamburger-min.png 1x, ./img/favorites_tablet/gamburger@2x-min.png 2x"
                        media="(min-width: 768px)">
                    <source
                        srcset="./img/favorites_mobile/gamburger-min.png 1x, ./img/favorites_mobile/gamburger@2x-min.png 2x"
                        media="(max-width: 767px)">
                    <img src="../img/favorites_mobile/gamburger-min.png" alt="retina image">
                </picture>

            </li>
            <li class="favorit-item">
                <picture>
                    <source
                        srcset="./img/favorites_desktop/Pasta-min.png 1x, ./img/favorites_desktop/Pasta@2x-min.png 2x"
                        media="(min-width: 1280px)">
                    <source srcset="./img/favorites_tablet/Pasta-min.png 1x, ./img/favorites_tablet/Pasta@2x-min.png 2x"
                        media="(min-width: 768px)">
                    <source srcset="./img/favorites_mobile/Pasta-min.png 1x, ./img/favorites_mobile/Pasta@2x-min.png 2x"
                        media="(max-width: 767px)">

                    <img src="../img/favorites_mobile/Pasta-min.png" alt="retina image">
                </picture>

            </li>
            <li class="favorit-item">
                <picture>
                    <source
                        srcset="./img/favorites_desktop/pizza-min.png 1x, ./img/favorites_desktop/pizza@2x-min.png 2x"
                        media="(min-width: 1280px)">
                    <source srcset="./img/favorites_tablet/pizza-min.png 1x, ./img/favorites_tablet/pizza@2x-min.png 2x"
                        media="(min-width: 768px)">
                    <source
                        srcset="../img/favorites_mobile/pizza-min.png 1x, ./img/favorites_mobile/pizza@2x-min.png 2x">
                    <img src="./img/pizza-mobile.jpg" alt="retina image">
                </picture>

            </li>
            <li class="favorit-item mobile-none">
                <picture>
                    <source
                        srcset="./img/favorites_desktop/chicken-min.png 1x, ./img/favorites_desktop/chicken@2x-min.png 2x"
                        media="(min-width: 1280px)">
                    <source
                        srcset="./img/favorites_tablet/chicken-min.png 1x, ./img/favorites_tablet/chicken@2x-min.png 2x"
                        media="(min-width: 768px)">
                    <img src="./img/favorites_tablet/chicken-min.png" alt="retina image">
                </picture>

            </li>
            <li class="favorit-item mobile-none">
                <picture>
                    <source
                        srcset="./img/favorites_desktop/salat-min.png 1x, ./img/favorites_desktop/salat@2x-min.png 2x"
                        media="(min-width: 1280px)">
                    <source srcset="./img/favorites_tablet/salat-min.png 1x, ./img/favorites_tablet/salat@2x-min.png 2x"
                        media="(min-width: 768px)">

                    <img src="./img/favorites_tablet/salat-min.png" alt="retina image">
                </picture>

            </li>
            <li class="favorit-item mobile-none">
                <picture>
                    <source
                        srcset="./img/favorites_desktop/borshch-min.png 1x, ./img/favorites_desktop/borshch@2x-min.png 2x"
                        media="(min-width: 1280px)">
                    <source
                        srcset="./img/favorites_tablet/borshch-min.png 1x, ./img/favorites_tablet/borshch@2x-min.png 2x">
                    <img src="./img/favorites_tablet/borshch-min.png" alt="retina image">
                </picture>

            </li>
        </ul>
    </div>

</section>