<footer class="footer">
    <div class="container">
        <div class="footer-up">
            <div class="footer-menu">
                <a href="./index.html"><img src="./img/vector.png" width="66" height="52" alt="logo"></a>
                <ul class="footer-menu-ul">
                    <li class="footer-menu-li"><a class="footer-menu-link" href="">Home</a></li>
                    <li class="footer-menu-li"><a class="footer-menu-link" href="">About</a></li>
                    <li class="footer-menu-li"><a class="footer-menu-link" href="">Service</a></li>
                    <li class="footer-menu-li"><a class="footer-menu-link" href="">Menu</a></li>
                    <li class="footer-menu-li"><a class="footer-menu-link" href="">Contact</a></li>
                </ul>
            </div>
            <div class="footer-subcribe">
                <strong class="footer-subcribe-title">Subscribe</strong>
                <form action=""><input class="footer-subcribe-input" placeholder="Enter your email" type="email"><button
                        class="footer-subcribe-btn" type="button">Subscribe</button>
                </form>
                <p class="footer-subcribe-par">By subscribing agree to with our <a class="links" href="">Privacy
                        Policy</a></p>
            </div>
        </div>
        <div class="footer-down">
            <ul class="footer-down-ul">
                <li><a class="links" href="">Privacy Policy</a></li>
                <li><a class="links" href="">Terms of Service</a></li>
                <li><a class="links" href="">Cookies Settings</a></li>
            </ul>

            <p class="footer-down-par">2024 FoodSta. All right reserved</p>
        </div>
    </div>

</footer>