<!-- Subscribe section -->
<section class="subscribe">
  <div class="container">
    <div class="subscribe-form-content">
      <h2 class="subscribe-title">Subscribe To Get Special Offers</h2>
      <form class="subscribe-form">
        <label class="subscribe-label" for="subscribe-email">
          Order now and receive 10% off your first meal with Enjoy Your Favorite
          Food From Anywhere.
        </label>
        <div class="subscribe-form-input-container">
          <input
            class="subscribe-form-input"
            id="subscribe-email"
            type="email"
            placeholder="Enter your email"
            name="subscribe-email"
            required
          />
          <button class="main-btn" type="submit">Subscribe</button>
        </div>
      </form>
    </div>
    <img src="./img/banan.png" alt="Banana" width="608" height="266" />
  </div>
</section>
