.header-btn {
  display: none;
}
.open-menu-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
}

.header {
  box-shadow: 0px 4px 24px 0px rgba(105, 105, 105, 0.1);
}
.header .container {
  display: flex;
  align-items: center;
}
.nav {
  display: none;
}
.logo {
  margin-right: auto;
  padding: 10px 0;
}
.nav {
  display: block;
}
.header-btn {
  display: block;
}
.open-menu-btn {
  display: none;
}
.nav-list {
  display: flex;
  gap: 28px;
  margin-right: 30px;
}

.nav-link {
  display: block;
  padding: 28px 0;
  font-size: 14px;
  color: #000;
}

.nav-link.nav-first {
  font-weight: 500;
  font-size: 14px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #bbf330;
}

.hero-img {
  display: flex;
  width: 580px;
  height: 580px;
  justify-content: center;
  border-radius: 50%;
  border: 26px solid #ffe550;
  background-color: #fefefe;
}
.hero-tab-img {
  display: none;
}
.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero-title {
  max-width: 502px;
}
.hero-tetx {
  max-width: 511px;
}
